body {
    background-color: #7d0126;
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #f8e6a3;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  p {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  
  a {
    color: #f8e6a3;
    text-decoration: none;
  }
  
  a:hover {
    color: #7d0126;
  }
  
  .container {
    background-color: #7d0126;
    max-width: 960px;
    margin: 0 auto;
  }